<template>
  <div v-if="stocks.length > 0">
    <app-stock
      v-for="stock in stocks"
      :key="stock.id"
      :stock="stock"
    >
    </app-stock>
  </div>
  <div v-else class="text-center">
    Buy stock to add to your portfolio!
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Stock from './Stock.vue';

export default {
  components: {
    appStock: Stock
  },

  computed: {
    ...mapGetters({
      stocks: 'stockPortfolio'
    })
  }
};
</script>
