<template>
  <div>
    <app-stock
      v-if="stocks"
      v-for="stock in stocks"
      :key="stock.id"
      :stock="stock"
      :funds="funds"
    >
    </app-stock>
  </div>
</template>

<script>
import Stock from './Stock';

export default {
  name: 'Stocks',

  components: {
    appStock: Stock
  },

  computed: {
    stocks() {
      return this.$store.getters.stocks;
    },

    funds() {
      return this.$store.getters.funds;
    }
  }
};
</script>
